@import './_variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// border breakpoints
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {
      border-top: $border-width solid $border-color !important;
    }
    .border#{$infix}-end {
      border-right: $border-width solid $border-color !important;
    }
    .border#{$infix}-bottom {
      border-bottom: $border-width solid $border-color !important;
    }
    .border#{$infix}-start {
      border-left: $border-width solid $border-color !important;
    }

    .border#{$infix}-top-0 {
      border-top: 0 !important; }
    .border#{$infix}-end-0 {  border-right: 0 !important;
    }
    .border#{$infix}-bottom-0 {
      border-bottom: 0 !important;
    }
    .border#{$infix}-start-0 {
      border-left: 0 !important;
    }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
  }
}

.btn-primary {
  color: $body-color !important;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

.nav {
  background-color: $dark;
}

.link {
  color: $body-color !important;
}

.active {
  color: $primary !important;
}

.disabled {
  color: $body-color;
}

.vl {
  border-left: 1px solid $body-color;
  height: 20px;
}

// ----------------------

.fullBox {
  max-width: 900px;
  background-color: $secondary;
  border-radius: 4px;
}

.input {
  background-color: $secondary;
  width: 100%;
}

.input:focus {
  background-color: $secondary;
}

.errorBox {
  max-width: 900px;
  background-color: $error;
  border-radius: 4px;
}

.errorInput {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, .25) !important;
  border: 1px solid $error !important;
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}

.submitButton {
  width: calc(100% - 46px);
  font-weight: bold;
}

.resetButton {
  border: 1px solid #fff;
  width: 38px;
}

.resetButton:hover,
.resetButton:focus {
  border-color: #fff;
}

// ----------------------

.halfBox {
  background-color: $secondary;
  border-radius: 4px;
}

.totalBox {
  background-color: $primary;
  border-radius: 0 0 4px 4px;
}

.inputPlaceholder {
  position: relative;
  display: inline-block;
  width: 100%;
}

.inputPlaceholder::after {
  position: absolute;
  right: 10px;
  top: 11px;
  content: attr(data-placeholder);
  pointer-events: none;
  opacity: 0.6;
}

.inputProfit,
.inputProfit:focus {
  background-color: $secondary;
}

.no-focus:focus {
  box-shadow: none !important;
}

.btn-light-blue {
  color: #000;
  background-color: #A1C4D1;
}

.btn-light-blue:hover {
  color: #000;
}
